body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Set a light background color */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px;
    border-bottom-left-radius: 20px; /* Add rounded corners to the header */
    border-bottom-right-radius: 20px;
}

#projects {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border: 1px solid #ddd;
    border-radius: 10px; /* Increase the border-radius for a smoother look */
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Set a fixed width for better alignment */
    text-align: center;
}

.project img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project h2 {
    color: #333;
}

.project p {
    color: #666;
}

.project a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 20px; /* Add rounded corners to the footer */
    border-top-right-radius: 20px;
}
